<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="shadow-hr">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Results-driven PM with 6+ years of experience in operations and product launches at a Fortune 50 IT company (Dell).<br />
          Proven track record of leading cross-functional teams, optimizing product portfolios, and delivering $6M+ in revenue growth.<br />
          Certified PMP, PMI-ACP, and Scrum Master with expertise in data analysis, Agile methodologies, and stakeholder management.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download resume
        </a>
      </div>
    </div>
  </div>
</section>
